
.container{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
margin-top: 20px;
}
.container input,select {
    margin-bottom: 10px;
}
.container input{
    border-radius: 40px;
    padding: 20px;
}
.results{
    display: flex;
margin-top: 50px;
/* flex-wrap: wrap; */

}
.box{
  display: flex;
  width: 500px;
  justify-content:center;
  background-color: brown;
padding: 10px;  
margin-left: 5px;
color: aliceblue;
border-radius: 40px;

}


